<img src={{getBackgroundImagePath()}}>

<div class="weather-data">
    <span class="location"> {{cityName}} </span>
    <span class="day-and-time"> {{getFormattedDayFromTimestamp(weatherData!.current.dt +
        weatherData!.timezone_offset) + ', ' +
        getFormattedTime(weatherData!.current.dt + weatherData!.timezone_offset)}} </span>
    <span class="temperature"> {{toFormattedCelsius(weatherData!.current.temp)}} </span>
    <span class="description"> {{weatherData!.current.weather[0].description}} </span>
    <span class="extra-temp-info"> {{(toFormattedCelsius(weatherData!.daily[0].temp.max)) + ' / ' +
        (toFormattedCelsius(weatherData!.daily[0].temp.min)) + ' ' + ' Feels like ' +
        (toFormattedCelsius(weatherData!.current.feels_like))}} </span>
</div>