app-searchbar {
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
}

.outer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 80vh;
    min-height: 560px;
    overflow: hidden;
    background-color: var(--background-2);
    box-shadow: 10px 10px 10px var(--shadow-dark);
    border-radius: 20px;
}

app-upper-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
}

.lower-data {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    min-height: 290px;
    flex: auto;
}

app-current-weather-more-info {
    display: flex;
    flex-direction: row;
}

.hourly-daily-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

app-hourly-daily {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}